.Container {
  display: flex;
  min-height: 3.25rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ced4da;
  overflow: hidden;

  &:last-child {
    border-bottom: 0;
  }

  &.clickable {
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 102, 204, 0.1);
    }
  }

  &.animationActive {
    animation: flashAnim 1s ease-out;
  }
}

@keyframes flashAnim {
  0% {
    background-color: transparent;
  }
  20% {
    background-color: rgba(0, 102, 204, 0.3);
  }
  100% {
    background-color: transparent;
  }
}
