.Container > .Top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Container > .Top > .Search {
  display: flex;
  width: 20vw;
  min-width: 300px;

  > select {
    margin-left: 1rem;
  }
}

.Container > .Top > .Count {
  font-weight: 600;
  color: #4a4a4a;
}

.Container > .Error {
  margin-top: 0.5rem;
  color: red;
}

.Container > .Table {
  flex: 1;
  display: flex;
  margin-top: 1rem;
  overflow: auto;
}
